.task-calendar {
  max-width: 100%;
  margin: 0 auto;
  /*background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

.fc .fc-toolbar {
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.fc .fc-button {
  background-color: #193f70;
  border-color: #007bff;
  color: #fff;
  margin: 5px 2px;
  padding: 2px 10px;
}

.fc .fc-button:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.fc .fc-button:focus {
  outline: none;
  box-shadow: none;
}

.fc-daygrid-event {
  background-color: #4caf50;
  border: none;
  color: white;
  font-size: 0.8em;
}

.fc-daygrid-event:hover {
  background-color: #388e3c;
}

.fc-daygrid-day {
  cursor: pointer;
}

@media (min-width: 600px) {
  .fc-daygrid-event {
    font-size: 1em;
  }
}

@media (min-width: 768px) {
  .task-calendar {
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .task-calendar {
    max-width: 100%;
  }
}
